:root {

	font-size: 17px;
	font-family: 'calibri';
	color: #ddd;

	--bg-1: #333;
	--bg-2: #444;
	--button-bg: #555;
	--button-bg-hover: #666;
	--button-bg-click: #777;
	--border-1: #888;
	--accent-color: coral;
	--accent-color-dim: rgb(168, 82, 51);
	--accent-color-dimmer: rgb(112, 63, 45);
}

h1, h2, h3, h4 {
	font-family: 'Beleren2016';
}

h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.7rem;
}

h4 {
	font-size: 1.5rem;
}

button {
	background: var(--button-bg);
	outline: 0;
	border: unset;
	color: white;
	border-radius: 5px;
	padding: 5px 10px;

	&:hover {
		background: var(--button-bg-hover);
	}

	&:active {
		background: var(--button-bg-click);
	}
}

body {
	position: relative;
	background: var(--bg-1);
	overflow: hidden;
	display: flex;
	flex-direction: column;

	header {
		display: grid;
		grid-template-columns: 1fr 3fr;

		border-bottom: 2px solid var(--border-1);
		padding: 10px;
		height: 70px;
		width: 100%;

		nav {
			width: 100%;
			display: flex;
			justify-content: space-evenly;

			button {
				border-radius: 0;
				height: 100%;
				font-size: 20px;
			}
		}

	}

	main {
		display: grid;
		grid-template-columns: 200px 1fr;
		height: calc(100vh - 70px);

		.tabHolder {
			position: relative;
			height: 100%;

			.contentTab {
				position: absolute;
				inset: 0;
				z-index: 0;
				background-color: var(--bg-1);

				&.open {
					z-index: 1;
				}

				&#content-sounds {
					padding: 20px;
					overflow-y: auto;

					#soundGrid {
						padding: 20px;
						display: flex;
						flex-wrap: wrap;
						gap: 10px;

						.sound {
							display: grid;
							place-items: center;
							width: 100px;
							height: 100px;

							button {
								height: 70px;
								width: 90px;
								background-color: attr(data-color type(<color>), salmon);
								color: black;
							}
						}
					}
				}

				&#content-songs {
					display: grid;
					grid-template-rows: 50px 1fr 100px;

					#listHeader {
						padding: 20px;
						padding-left: 40px;
						display: grid;
						grid-template-columns: 100px 3fr 6fr 50px;

					}

					#songList {
						display: flex;
						flex-direction: column;
						gap: 10px;
						padding: 20px;
						height: 100%;
						overflow-y: auto;
						transition: transform 0.5s ease, opacity 0.5s ease;
						opacity: 1;

						&.shuffling {
							opacity: 0.5;
							transform: translateY(-10px);
						}

						.song {
							display: grid;
							grid-template-columns: 50px 50px 3fr 6fr 50px;
							height: 50px;
							align-items: center;
							justify-items: start;
							border-radius: 5px;

							&.playing {
								background: var(--accent-color-dimmer);

								&:hover {
									background: var(--accent-color-dim);
								}
							}

							&:hover {
								background: var(--bg-2);
							}

							button {
								display: grid;
								place-items: center;
								border-radius: 200px;
								width: 30px;
								height: 30px;
								margin: 10px;
							}

							.details {
								display: flex;
								flex-direction: column;
								padding-left: 20px;

								.author {
									font-size: 0.8em;
									opacity: 0.8;
								}
							}

							.number, .duration {
								width: 50px;
								text-align: center;
							}

						}
					}

					#audioList {
						display: none;
					}

					>.playing {
						padding: 20px;
						border-top: 1px solid var(--border-1);
						display: grid;
						grid-template-columns: 300px 1fr 300px;
						align-items: center;
						justify-items: center;

						.details {
							width: 300px;
							display: flex;
							flex-direction: column;
							padding-left: 20px;

							.title, .author {
								width: 300px;
								overflow: hidden;
								white-space: nowrap;
								text-overflow: ellipsis;
							}

							.author {
								font-size: 0.8em;
								opacity: 0.8;
							}
						}

						.controls {
							display: flex;
							flex-direction: column;
							justify-content: center;
							width: 70%;
							align-items: center;

							.buttons {
								width: 70%;
								display: flex;
								justify-content: space-evenly;

								i {
									pointer-events: none;
								}

								.active, .loop.list, .loop.song {
									background: green;

									i.fa-1 {
										padding-left: 10px;
									}
								}
							}

							.track {
								width: 100%;
								display: grid;
								grid-template-columns: 50px 1fr 50px;

								.progress {
									display: block;
									width: 100%;
									accent-color: white;
								}
							}



						}

						.volume {
							display: flex;
							align-items: center;
							gap:20px;

							button {
								width: 35px;
							}

							input {
								width: 200px;
								margin-block: auto;
							}
						}
					}
				}

				.volumeSlider {
					margin-top: 10px;
					width: 70px;
					height: 6px;
					accent-color: var(--accent-color);
					position: relative;

					+output {
						display: block;
						opacity: 0;
						transition: opacity 0.5s;
						width: 50px;
					}

					&:hover+output {
						opacity: 1;
					}
				}
			}
		}

		aside {
			height: 100%;
			padding: 20px;
			border-right: 1px solid var(--border-1);

			.lists {
				position: relative;
				height: 100%;
				width: 100%;

				.listTab {
					position: absolute;
					inset: 0;
					z-index: 0;
					background: var(--bg-1);

					&.open {
						z-index: 1;
					}

					h2 {
						margin-bottom:30px;
					}

					ul {
						display: flex;
						flex-direction: column;
						gap: 10px;
					}
				}
			}
		}
	}
}